.App {
  text-align: center;
}

.page-header-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: lightgray;
}

.page {
  margin-top: 116px;
}

.nav-btn {
  background-color: white !important;
}

.nav-btn:hover{
  background-color: #f8f9fa!important;
}

.card {
  border: none !important;
  background-color: #f8f9fa!important;
}

.card-body {
  padding: 0 !important;
  margin-right: auto;
}

.card-title {
  margin: 16px 0 0 0 !important;
}

.row .col {
  margin-top: 64px;
  margin-bottom: 64px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#welcome-msg-box{
  line-height: 26px;
  max-width: 400px;
  min-height: 600px;
  height: 80%;
  margin: 200px auto;
  overflow-X: hidden;
  position: relative;
  font-size: 1.5rem;
  color: rgb(40, 40, 40);
  font-weight: normal;
  background-color: rgb(250, 250, 250);
}


#welcome-msg-box-header{
  height: 100px;
  width: 100%;
  max-width: 100% !important;
  background-color: rgba(232, 234, 237, 0.7);
  padding-top: 12px;
  margin-bottom: 20px !important;
  border-bottom: 1px solid rgba(40, 40, 40, 0.25);
}

#welcome-msg-box-header img{
  height: 50px;
}

i.arrow {
    border: solid rgb(66, 134, 244);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.arrow-left {
  width: 18px;
  height: 18px;
  margin-bottom: 0px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#welcome-msg-box div {
  word-wrap: break-word;
  max-width: 75%;
  margin-bottom: 15px;
}

#welcome-msg-box h1,
#welcome-msg-box p {
  font-size: 1.3rem;
  color: rgb(40, 40, 40);
  font-weight: normal;
  margin: 0;
}

.from-them {
  margin: 0 20px;
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 20px;
  color: black;
  float: left;
}

.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background-color: rgb(250, 250, 250);
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.custom-shadow{
  box-shadow: 0 6px 66px 5px rgba(155, 190, 255, 0.2), 0 6px 33px 2px rgba(0, 0, 0, 0.19);
}

.text-highlight{
  color: rgb(45, 111, 255);
}