.App {
  text-align: center;
}

.page-header-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: lightgray;
}

.page {
  margin-top: 116px;
}

.nav-btn {
  background-color: white !important;
}

.nav-btn:hover{
  background-color: #f8f9fa!important;
}

.card {
  border: none !important;
  background-color: #f8f9fa!important;
}

.card-body {
  padding: 0 !important;
  margin-right: auto;
}

.card-title {
  margin: 16px 0 0 0 !important;
}

.row .col {
  margin-top: 64px;
  margin-bottom: 64px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}