.App {
  text-align: center;
}

.page {
  margin-top: 64px;
}

.card-body {
  padding: .5rem !important;
  margin-right: auto;
}

.card-title {
  margin: 0 !important;
}

.card-text {
  margin: 0;
}

.card-img-top {
  width: 100%;
  height: 75%;
  object-fit: cover;
}